body {
  margin: 0px;
  left: 0;
  top: 0;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  text-align: center;
  align-items: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background-color: #212121;
  color: white;
}

.App h2 {
  color: #2196f3;
}

.main {
  display: flex;
  justify-content: center;
  max-width: 500px;
  flex-direction: column;
}

.main .input-wrapper {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid #2196f3;
  margin: 1rem;
}

input {
  padding: 0.5rem;
  width: 300px;
  height: 15px;
  color: #212121;
  margin: 0.2rem;
  border: 2px solid #2196f3;
}

.input-wrapper button {
  border: 2px solid #2196f3;
  margin: 0.2rem;
  width: 100px;
  padding: 0.5rem;
  font-weight: bold;
  color: #212121;
  background-color: #2196f3;
}
